mj-section
    mj-column
        mj-text EU residency in Malta for your family for EUR 135,000
        mj-text It's the dream o f many - to be able to live in Europe. With the Malta residency program you can now begin the journey.
        mj-text Consider it an affordable "Plan B" providing security for you and your family.
        mj-text With close proximity to the Middle East region, the Malta Permanent Residence Program is ideal for entrepreneurs, investors, and those seeking increased mobility from a stable and business-friendly European country.
        mj-button Register for more information