mj-section(padding="0")
    mj-column(padding="35px 45px 40px 45px" width="100%")
        mj-text(padding="0" align="center" mj-class="T28-500") Benefits of the Malta residency program
        mj-text(padding="0" mj-class="T16-400") In addition to being a fairly quick path to residency - just six to eight months for approval - there are many other benefits to this highly sought-after program:
    mj-group(width="100%")
        mj-column(width="5%")
            mj-text(padding="0" mj-class="T30-500 cR") +
        mj-column(width="95%")
            mj-text(padding="0" mj-class="T16-400") Residence in an EU country with visa-free access across Europe's Schengen Area for 90 days out of a 180-day period.
    mj-group(width="100%")
        mj-column(width="5%")
            mj-text(padding="0" mj-class="T30-500 cR") +
        mj-column(width="95%")
            mj-text(padding="0" mj-class="T16-400") The right to reside indefinitely in Malta (one of Europe's safest countries).
    mj-group(width="100%")
        mj-column(width="5%")
            mj-text(padding="0" mj-class="T30-500 cR") +
        mj-column(width="95%")
            mj-text(padding="0" mj-class="T16-400") Investment required for the first five years only (and only after you have secured approval).
    mj-group(width="100%")
        mj-column(width="5%")
            mj-text(padding="0" mj-class="T30-500 cR") +
        mj-column(width="95%")
            mj-text(padding="0" mj-class="T16-400") Family members can be included.
    mj-column
        mj-text(padding="0" mj-class="T16-400") No residence requirement to maintain your permanent residence status.
    mj-column
        mj-text(padding="0" mj-class="T16-400") English is the official language - and there is no language test.
        mj-text(padding="0" mj-class="T16-400") Once you receive approval, your permanent residency card is issued with a five-year validity (and easily renewed every five years with a new photo).
    mj-column(width="100%")
        mj-image(padding="0" width="650px" src="./images/malte_2.jpg" alt="")/