mj-section
    mj-column(padding="45px")
        mj-text(align="center" padding="0" mj-class='T28-700') EU residency in Malta for your family for EUR 135,000
        mj-text(align="center" padding="0" mj-class='T16-400') It's the dream of many - to be able to live in Europe. With the Malta residency program you can now begin the journey.
        mj-text(align="center" padding="0" mj-class='T16-400') Consider it an affordable "Plan B" providing security for you and your family.
        mj-text(align="center" padding="0" mj-class='T16-400') With close proximity to the Middle East region, the Malta Permanent Residence Program is ideal for entrepreneurs, investors, and those seeking increased mobility from a stable and business-friendly European country.
        mj-button Register for more information