mj-section
  mj-column
    mj-text Costs and Steps
    mj-text So how do you get started ?
    mj-text The main applicant must be at least 18 years of age.
    mj-text Applicants must show proof of capital of no less than EUR 500,000 (EUR 150,000 of which should be in financial assets).
    mj-text A property purchase of EUR 350,000 (EUR 300,000 in South Malta or Gozo) or a property lease of EUR 12,000 per annum (EUR 10,000 in South Malta or Gozo).
    mj-text You must be a third-country national (i.e. not from an EU or EEA state).
    mj-text Evidence of a clean criminal record.
mj-section
    mj-column
        mj-table
            tr
                th Client Investment
                th To KB Group
                th Contribution Fee
                th Donation
                th Rent
                th Total
            tr
                td On Engagement
                td €15,000
                td -
                td -
                td -
                td €15,000
            tr 
                td On Submission
                td €10,000
                td €10,000
                td -
                td -
                td €20,000
            tr
                td On Approval
                td -
                td €88,000
                td €2,000
                td €10,000
                td €100,000
            tr
                td
                td 
                td 
                td 
                td 
                td €135,000
mj-section
    mj-column
        mj-text * Including Rent €10,000
        mj-text ** Note: Residency card fee €137.50 per individual.
        mj-text Declaration fee €1000 per application.
        mj-text Health Insurance approx €350 per individual.
mj-section
    mj-column
        mj-button Register for More Information