mj-wrapper(padding="45px")
    mj-section
        mj-column
            mj-text(padding="0" mj-class="T28-700") Costs and Steps
            mj-text(padding="0" mj-class="T20-700 cR") So how do you get started ?
            mj-text(padding="0" mj-class="T15-400") The main applicant must be at least 18 years of age.
            mj-text(padding="0" mj-class="T15-400") Applicants must show proof of capital of no less than EUR 500,000 (EUR 150,000 of which should be in financial assets).
            mj-text(padding="0" mj-class="T15-400") A property purchase of EUR 350,000 (EUR 300,000 in South Malta or Gozo) or a property lease of EUR 12,000 per annum (EUR 10,000 in South Malta or Gozo).
            mj-text(padding="0" mj-class="T15-400") You must be a third-country national (i.e. not from an EU or EEA state).
            mj-text(padding="0" mj-class="T15-400") Evidence of a clean criminal record.
    mj-section
        mj-column
            mj-table(padding="0")
                tr
                    th(style="padding:12px 8px;text-align:left;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;color:#434343;background-color:#E0E0E0;") Client Investment
                    th(style="padding:12px 0;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;color:#434343;background-color:#E0E0E0;") To KB Group
                    th(style="padding:12px 0;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;color:#434343;background-color:#E0E0E0;") Contribution Fee
                    th(style="padding:12px 0;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;color:#434343;background-color:#E0E0E0;") Donation
                    th(style="padding:12px 0;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;color:#434343;background-color:#E0E0E0;") Rent
                    th(style="padding:12px 0;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;color:#434343;background-color:#E0E0E0;") Total
                tr(style="border:1px solid #E0E0E0;")
                    td(style="padding:12px 8px;text-align:left;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") On Engagement
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") €15,000
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") -
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") -
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") -
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400") €15,000
                tr(style="border:1px solid #E0E0E0;")
                    td(style="padding:12px 8px;text-align:left;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") On Submission
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") €10,000
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") €10,000
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") -
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") -
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400") €20,000
                tr(style="border:1px solid #E0E0E0;")
                    td(style="padding:12px 8px;text-align:left;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") On Approval
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") -
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") €88,000
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") €2,000
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") €10,000
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400") €100,000
                tr()
                    td
                    td
                    td
                    td
                    td
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;background-color:#E0E0E0;") €135,000
    mj-section
        mj-column(width="100%")
            mj-text(padding="0") * Including Rent €10,000
            mj-text(padding="0") ** Note: Residency card fee €137.50 per individual.
            mj-text(padding="0") Declaration fee €1000 per application.
            mj-text(padding="0") Health Insurance approx €350 per individual.
mj-section
    mj-column(width="100%")
        mj-button Register for More Information