mj-wrapper(padding="40px" background-color="#f5f5f5")
    mj-section(padding="0")
        mj-column(width="100%")
            mj-text(padding="0" padding-bottom="25px" mj-class="T28-700") Costs and Steps
            mj-text(padding="0" padding-bottom="10px" mj-class="T20-700 cR") So how do you get started ?
            mj-table(padding="0" table-layout="auto")
                tr
                    td(style="width:5%;padding:0 10px 15px 0;vertical-align:top;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:30px;line-height:20px;font-weight:500;color:#D8D9DA;") +
                    td(style="width:95%;padding:0;padding-bottom:15px;vertical-align:top;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:15px;line-height:20px;font-weight:400;color:#071c35;") The main applicant must be at least 18 years of age.
                tr
                    td(style="width:5%;padding:0 10px 15px 0;vertical-align:top;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:30px;line-height:20px;font-weight:500;color:#D8D9DA;") +
                    td(style="width:95%;padding:0;padding-bottom:15px;vertical-align:top;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:15px;line-height:20px;font-weight:400;color:#071c35;") Applicants must show proof of capital of no less than EUR 500,000 (EUR 150,000 of which should be in financial assets).
                tr
                    td(style="width:5%;padding:0 10px 15px 0;vertical-align:top;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:30px;line-height:20px;font-weight:500;color:#D8D9DA;") +
                    td(style="width:95%;padding:0;padding-bottom:15px;vertical-align:top;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:15px;line-height:20px;font-weight:400;color:#071c35;") A property purchase of EUR 350,000 (EUR 300,000 in South Malta or Gozo) or a property lease of EUR 12,000 per annum (EUR 10,000 in South Malta or Gozo).
                tr
                    td(style="width:5%;padding:0 10px 15px 0;vertical-align:top;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:30px;line-height:20px;font-weight:500;color:#D8D9DA;") +
                    td(style="width:95%;padding:0;padding-bottom:15px;vertical-align:top;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:15px;line-height:20px;font-weight:400;color:#071c35;") You must be a third-country national (i.e. not from an EU or EEA state).
                tr
                    td(style="width:5%;padding:0 10px 15px 0;vertical-align:top;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:30px;line-height:20px;font-weight:500;color:#D8D9DA;") +
                    td(style="width:95%;padding:0;padding-bottom:15px;vertical-align:top;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:15px;line-height:20px;font-weight:400;color:#071c35;") Evidence of a clean criminal record.
    mj-section(padding="0")
        mj-column
            mj-table(padding="0" table-layout="auto")
                tr
                    th(style="padding:12px 8px;text-align:left;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;color:#434343;background-color:#E0E0E0;") Client Investment
                    th(style="padding:12px 0;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;color:#434343;background-color:#E0E0E0;") To KB<br>Group
                    th(style="padding:12px 0;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;color:#434343;background-color:#E0E0E0;") Contribution<br>Fee
                    th(style="padding:12px 0;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;color:#434343;background-color:#E0E0E0;") Donation
                    th(style="padding:12px 0;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;color:#434343;background-color:#E0E0E0;") Rent
                    th(style="padding:12px 0;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;color:#434343;background-color:#E0E0E0;") Total
                tr(style="border:1px solid #E0E0E0;")
                    td(style="padding:12px 8px;text-align:left;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") On Engagement
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") €15,000
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") -
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") -
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") -
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400") €15,000
                tr(style="border:1px solid #E0E0E0;")
                    td(style="padding:12px 8px;text-align:left;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") On Submission
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") €10,000
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") €10,000
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") -
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") -
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400") €20,000
                tr(style="border:1px solid #E0E0E0;")
                    td(style="padding:12px 8px;text-align:left;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") On Approval
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") -
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") €88,000
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") €2,000
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;border-right:1px solid #E0E0E0;") €10,000
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400") €100,000
                tr()
                    td
                    td
                    td
                    td
                    td
                    td(style="padding:12px 8px;text-align:center;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-style:normal;font-size:14px;line-height:20px;font-weight:400;background-color:#E0E0E0;") €135,000
    mj-section(padding="0")
        mj-column(width="100%" padding="8px")
            mj-text(padding="0" mj-class="T13-400" color="#434343") * Including Rent €10,000
        mj-column(width="60px" padding-left="8px")
            mj-text(padding="0" align="left" mj-class="T13-400" color="#434343") ** Note: 
        mj-column(width="88%")
            mj-text(padding="0" padding-left="8px" mj-class="T13-400" color="#434343") Residency card fee €137.50 per individual.
            mj-text(padding="0" padding-left="8px" mj-class="T13-400" color="#434343") Declaration fee €1000 per application.
            mj-text(padding="0" padding-left="8px" mj-class="T13-400" color="#434343") Health Insurance approx €350 per individual.
mj-section(padding="0")
    mj-column(width="100%")
        mj-button(padding="0" width="100%" inner-padding="22px 22px" font-family='"Montserrat", Arial, Helvetica, sans-serif' font-style="normal" font-size='18px' line-height='30px' font-weight='700' text-transform="capitalize" mj-class="bgR cTW" href="#" border-radius="0px") Register for More Information