mj-section
    mj-column
        mj-text(padding="0" align="center") Reach People Direct PO Box 62425, Dubai, UAE
        mj-text(padding="0" align="center") You are subscribed to this email as contact@ecosup-sante.fr
        mj-text(padding="0" align="center") Click here to modify your preferences or unsubscribe.