mj-section(padding="0" mj-class="bgW")
    mj-column(width="100%" padding="25px 0" mj-class="bgBf")
        mj-image(padding="0" width="117px" src="./images/logo.png" alt="")/
    mj-column(width="100%" padding="20px 0" mj-class="bgR")
        mj-text(padding="0" align="center" mj-class="T30-700 cTW" text-transform="uppercase") The malta permanent
        mj-text(padding="0" align="center" mj-class="T30-700 cTW" text-transform="uppercase") residence programme (mprp)
mj-section(padding="0" mj-class="bgW")
    mj-column(width="100%" padding="0" padding-top="25px")
        mj-text(padding="0" align="center" mj-class="T22-500 cBf") Residency-by-Investment Programme
mj-wrapper(padding="25px 45px 0 45px" mj-class="bgW")
    mj-section(border-top="1px solid #071c35" border-left="1px solid #071c35" border-right="1px solid #071c35" padding="26px 7px 40px 7px")
        mj-column(width="50%" padding="8px")
            mj-table(padding="0" table-layout="auto")
                tr
                    td(width="10%" align="left" style="padding:4px 0 15px 0;vertical-align:top;color:#00263A") &#11044;
                    td(width="90%" style="padding:4px 0 15px 0;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-size:15px;font-weight:400;line-height:20px;font-style:normal;color:#00263A") A simplified application process with the residence permit issued within 60 days of approval
                tr
                    td(width="5%" align="left" style="padding:4px 0 15px 0;vertical-align:top;color:#00263A") &#11044;
                    td(width="95%" style="padding:4px 0 15px 0;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-size:15px;font-weight:400;line-height:20px;font-style:normal;color:#00263A") No minimum stay requirements in order to maintain residence status
                tr
                    td(width="5%" align="left" style="padding:4px 0 15px 0;vertical-align:top;color:#00263A") &#11044;
                    td(width="95%" style="padding:4px 0 15px 0;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-size:15px;font-weight:400;line-height:20px;font-style:normal;color:#00263A") Low capital outlay compared to other EU residence programmes
        mj-column(width="50%" padding="8px")
            mj-table(padding="0")
                tr
                    td(width="5%" align="left" style="padding:4px 0 15px 0;vertical-align:top;color:#00263A") &#11044;
                    td(width="95%" style="padding:4px 0 15px 0;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-size:15px;font-weight:400;line-height:20px;font-style:normal;color:#00263A") 188 Countries Visa Free Travel
                tr
                    td(width="10%" align="left" style="padding:4px 0 15px 0;vertical-align:top;color:#00263A") &#11044;
                    td(width="90%" style="padding:4px 0 15px 0;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-size:15px;font-weight:400;line-height:20px;font-style:normal;color:#00263A") Visa-free travel in the European Schengen Area
                tr
                    td(width="10%" align="left" style="padding:4px 0 15px 0;vertical-align:top;color:#00263A") &#11044;
                    td(width="90%" style="padding:4px 0 15px 0;font-family:'Montserrat', Arial, Helvetica, sans-serif;font-size:15px;font-weight:400;line-height:20px;font-style:normal;color:#00263A") Dependants may be included such as spouse, children under 18, unmarried and non-economically active adult children over 18 years, as well as parents and grand-parents who are primarily dependent on the main applicant
        mj-column(width="100%" padding="0 8px")
            mj-spacer(height="15px")
            mj-button(padding="0" width="100%" inner-padding="13px 0px" font-family='"Montserrat", Arial, Helvetica, sans-serif' font-style="normal" font-size='18px' line-height='18px' font-weight='500' text-transform="capitalize" mj-class="bgR cTW" href="#" border-radius="0px") Register For More Information&nbsp;&gt;&gt;&gt;
mj-section(padding="0")
    mj-column(width="100%")
        mj-image(padding="0" width="650px" src="./images/malte_1.jpg" alt="")/