mj-section
    mj-column
        mj-image(src="./images/logo.png" alt="")/
    mj-column
        mj-text The malta permanent residence programme (mprp)
mj-section
    mj-column
        mj-text Residency-by-Investment Programme
mj-section
    mj-group
        mj-column
            mj-text A simplified application process with the residence permit issued within 60 days of approval
            mj-text No minimum stay requirements in order to maintain residence status
            mj-text Low capital outlay compared to other EU residence programmes
            mj-text 188 Countries Visa Free Travel
        mj-column
            mj-text Visa-free travel in the European Schengen Area
            mj-text Dependants may be included such as spouse, children under 18, unmarried and non-economically active adult children over 18 years, as well as parents and grand-parents who are primarily dependent on the main applicant
    mj-column
        mj-button Register For More Information
    mj-column
        mj-image(src="./images/malte_1.jpg" alt="")/