extends templates/_layout
block content 
    mj-section(padding="16px 0px")
        mj-column
            mj-text(align="center" padding="0" mj-class="T12-400" font-weight="700") Having trouble seeing the below email? Click here to view it in your browser         