extends templates/_layout
block content 
    mj-section(padding="24px 30px")
        mj-group
            mj-column
                mj-text Having trouble seeing the below email? Click here to view it in your browser         