extends templates/_layout
block content 
    mj-section(padding="24px 30px" mj-class="bgT1")
        mj-group
            mj-column
                mj-image(align="left" padding="0" width="145px" src="./images/netgearBusiness.png" alt="logo Netgear store en blanc")/           